{% extends "sys_web/base.html" %}

{% block container %}
{% if heading %}
<h3>SAPEVO-M</h3>
{% endif %}

     <form method="post">
          {% csrf_token %}

  <legend>Agentes Decisores:</legend>
  <div class="username">
    <label for="uname">Decisor 1:</label>
    <input type="text" id="id_decisor1" name="decisor1" required
      minlength="3" maxlength="16"
      placeholder="" />
  </div>

  <div class="username">
    <label for="uname">Decisor 2:</label>
    <input type="text" id="id_decisor2" name="decisor2" required
      minlength="3" maxlength="16"
      placeholder="" />
  </div>

  <div class="username">
    <label for="uname">Decisor 3:</label>
    <input type="text" id="id_decisor3" name="decisor3" required
      minlength="3" maxlength="16"
      placeholder="" />
  </div>




<fieldset>
  <legend>Critérios:</legend>

  <div class="username">
    <label for="uname">Criterio 1:</label>
    <input type="text" id="id_criterio1" name="criterio1" required
      minlength="3" maxlength="16"
      placeholder="" />
  </div>

  <div class="username">
    <label for="uname">Criterio 2:</label>
    <input type="text" id="id_criterio2" name="criterio2" required
      minlength="3" maxlength="16"
      placeholder="" />
  </div>

  <div class="username">
    <label for="uname">Criterio 3:</label>
    <input type="text" id="id_criterio3" name="criterio3" required
      minlength="3" maxlength="16"
      placeholder="" />
  </div>

</fieldset>


<fieldset>
  <legend>Alternativas:</legend>

  <div class="username">
    <label for="uname">Alternativa 1:</label>
    <input type="text" id="alternativa1" name="alternativa1" required
      minlength="3" maxlength="16"
      placeholder="" />
  </div>

  <div class="username">
    <label for="uname">alternativa 2:</label>
    <input type="text" id="alternativa2" name="alternativa2" required
      minlength="3" maxlength="16"
      placeholder="" />
  </div>

  <div class="username">
    <label for="uname">Alternativa 3:</label>
    <input type="text" id="alternativa3" name="alternativa3" required
      minlength="3" maxlength="16"
      placeholder="" />
  </div>
    <button type="submit" class="btn btn-default">Cadastrar</button>

  </form>

</br>
<div style="margin-top: 40px">

</div>

<address>
Escrito por <a href="mailto:luiz_frederico@id.uff.br">Luiz Frederico</a>.<br> 
Orientado por:  Profº Carlos Francisco Simões Gomes<br>
Universidade Federal Fluminense<br>
</address>

{% endblock %}

{% block custom_js %}
{% endblock %}
